*{
   box-sizing: border-box;
}

/*============== Header/Nav Section ============*/
.logo, .leftMenu, .rightMenu{
  display: inline-block;
}

#header{
  background: #141414;
  color: white;
  overflow: auto;
  padding-left: 25px;
  padding-right: 25px;
  font-family: helvetica;

}

#header a{
  text-decoration: none;
  font-family: helvetica;
}
#header ul li a:hover{
  color: red;
}

.logo{
background: red;
float: left;
margin-right: 25px;
padding: 20px;
}

.leftMenu{
float: left;
}

.leftMenu ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.leftMenu ul li{
  display: inline-block;
  padding: 20px;
}
.LeftMenu ul li a{
  color: white;
  text-decoration: none;
}

.rightMenu{
float: right;
}

.rightMenu ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.rightMenu ul li{
  display: inline-block;
  padding: 20px;
}
.rightMenu ul li a{
  color: white;
  text-decoration: none;
}
/*============== Large Image Section ============*/

#largeImage{
  padding: 200px 25px;
  background: -webkit-linear-gradient(-150deg, rgba(50, 135, 255, .3)1%,#000000 100%),
  url(http://vignette1.wikia.nocookie.net/theoffice/images/8/81/Office_S9_Promotional_Poster.jpg/revision/latest?cb=20120910030250) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.description-box{
  width: 50%;

  color: white;
    text-shadow: 1px 1px 2px #000000;
}
.description-box h1{
  font-family: serif;
  font-weight: 700;
  font-size: 60px;
  margin: 0;
  color: white;
}
.description-box h3{
  font-family: helvetica;
  font-weight: 400;
  font-size: 25px;
  margin: 0;
  color: white;
}
.description-box h4{
  font-weight: 300;
  font-family: helvetica;
  margin: 0;
  color: white;
}
.description-box p{
  float: left;
  margin: 25px 0!important;
  font-family: helvetica;
  font-size: 18px;
  margin: 0;
  color: white;
}

.button1{
  display: inline-block;
  padding: 20px 28px;
  background: rgba(20, 20, 20, .8);
  border: 2px solid #000;
  color: #FFF;
  cursor: pointer;
  border-radius: 5px;
}

.button1:hover{
  background: white;
  color: black;
}

.fa-play{
  margin-right: 10px;
}
.button2{
  display: inline-block;
  padding: 20px 28px;
  background: rgba(20, 20, 20, .8);
  border: 2px solid #000;
  color: #FFF;
  cursor: pointer;
  border-radius: 5px;

}
.fa-plus{
  margin-right: 10px;
}
.button2:hover{
  background: white;
  color: black;
}
/*============== Video Section ============*/
#videoSection{
  width: 100%;
  background: rgba(20, 20, 20, .9);
}
.row{
  width: 100%;
  font-size: 0;
}
.videoBoxes{
  display: inline-block;
  background: red;
  width: 300px;
  min-height: 150px;
  font-size: 15px;
  margin: 2.5%;
  padding: 15px;
}

.videoBoxes h4{
  font-family: helvetica;
  font-weight: 100;
  margin: 0;
  padding: 0;
  font-size: 30px;
  color: white;
}

.videoBoxes p{
  display: none;
}

.videoBoxes:hover{
  opacity: 0.4;
  filter: alpha(opacity=100); /* For IE8 and earlier */
}
.video1{
  background: -webkit-linear-gradient(50deg, rgba(50, 135, 255, .2)1%,#000000 100%),
  url(http://www.togomeetings.com/wp-content/uploads/2017/07/elegant-panoramic-movie-posters-and-cool-ideas-of-movie-poster-horizontal-13.jpg) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.video2{
  background: -webkit-linear-gradient(50deg, rgba(50, 135, 255, .2)1%,#000000 100%),
  url(http://pixelatedgeek.com/wp-content/uploads/2017/03/gitsonline48x19-6horizontalstand.jpg) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.video3{
  background: -webkit-linear-gradient(50deg, rgba(50, 135, 255, .2)1%,#000000 100%),
  url(https://thumbor.forbes.com/thumbor/960x0/smart/https%3A%2F%2Fblogs-images.forbes.com%2Fscottmendelson%2Ffiles%2F2017%2F07%2FJustice-League-SDCC-Banner.jpg%3Fwidth%3D960) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.video4{
  background: -webkit-linear-gradient(50deg, rgba(50, 135, 255, .2)1%,#000000 100%),
  url(https://shyfyy.files.wordpress.com/2017/01/kongskullisland-5.jpg) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.video5{
  background: -webkit-linear-gradient(50deg, rgba(50, 135, 255, .2)1%,#000000 100%),
  url(http://thesecondtake.com/wp-content/uploads/2017/08/Blade-Runner-posters-THUMB-777x437.png) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*============== Media Queries ============*/

@media screen and (max-width: 600px) {
  .videoBoxes{
    width: 95%;
    margin: 2.5%;
  }
  .videoBoxes h4{
    font-family: helvetica;
    font-weight: 100;
    font-size: 30px;
  }
  .videoBoxes p{
    display: block;
    font-family: helvetica;
    font-weight: 300;
    font-size: 20px;
    color: white;
}
.button1{
  margin-bottom: 5px;
}
