/*============== Header/Nav Section ============*/
.logo, .leftMenu, .rightMenu{
  display: inline-block;
}

#header{
  background: black;
  color: white;
  overflow: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.logo{
background: green;
float: left;
margin-right: 25px;
padding: 20px;
}

.leftMenu{
float: left;
background: red;
}

.leftMenu ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.leftMenu ul li{
  display: inline-block;
  padding: 20px;
}

.rightMenu{
background: blue;
float: right;
background: green;
}

.rightMenu ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.rightMenu ul li{
  display: inline-block;
  padding: 20px;
}

/*============== Large Image Section ============*/

#largeImage{
  padding: 200px 25px;
  background: url(https://az616578.vo.msecnd.net/files/2016/08/21/636073586712199288-874291653_the%20office.jpg) no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
